@import "./scssModule/alert";
@import "./scssModule/navbar";

.uploadimg {
  text-align: center !important;
}
.blank-avatar {
  max-height: 10%;
  max-width: 10%;
  border: 1px solid white;
  border-radius: 50% 50% 30% 30%;
}

.maincontain {
  max-width: 50rem;
  margin-top: 3rem;
  margin-left: 10rem;
}
