#alert {
  position: fixed !important;
  top: 30px;
  margin-right: 20px;
}

@keyframes openModal {
  0% {
    margin-right: -500px;
  }
  100% {
    margin-right: 20px;
  }
}
@keyframes closeModal {
  0% {
    margin-right: 20px;
  }
  100% {
    margin-right: -500px;
  }
}
.nav {
  background-color: #ffffff;
  border-bottom: 1px solid black;
  padding: 0;
  justify-content: space-between;
}
.nav div {
  display: flex;
  flex-direction: row;
}
.nav div .menuButton {
  border: 0px;
  padding-top: 10px;
  font-size: 2rem;
}
.nav div .icon {
  margin-top: 15px;
  margin-left: 5px;
  height: 60%;
}
.nav div h1 {
  font-size: 1.2rem;
  padding-top: 22px;
  padding-left: 10px;
}
.nav .user-info {
  max-width: 15%;
  margin: 5px;
}
.nav .user-info button {
  max-height: auto;
  max-width: 30%;
}
.nav .user-info button img {
  max-height: inherit;
  max-width: 100%;
}

#userModal {
  border: none;
  margin-right: 9rem;
  max-width: 16rem;
  max-height: 16rem;
  box-shadow: 1px 1px 5px rgb(146, 146, 146);
}
#userModal img {
  margin: 0 auto;
  max-height: auto;
  max-width: 30%;
}
#userModal p {
  text-align: center;
}

.uploadimg {
  text-align: center !important;
}

.blank-avatar {
  max-height: 10%;
  max-width: 10%;
  border: 1px solid white;
  border-radius: 50% 50% 30% 30%;
}

.maincontain {
  max-width: 50rem;
  margin-top: 3rem;
  margin-left: 10rem;
}